<!-- TODO: remove inline css and set image url dynamically-->

<div id="wrapper">
  <div id="hero" style="background-image:url(http://104.155.57.49:5984/dev-3-diana/{{ctrl.return._id}}/image_large);">
    <div class="item-header">
      <navbar></navbar>
    </div>
    
    <div  class="container" style="position: absolute; bottom: 0em; left: 0em; width: 100%; font-weight: bold; color: #fff; text-align: left; background-color: rgba(9, 9, 9, 0.55); text-shadow: #000000 0px 0px 5px;">
        <div class="container">
            <div class="row extra-style">
                <div class="col-sm-9">
                    <div id="title">{{ctrl.return.overnight+1}} Tage {{ctrl.return.title}}</div>
                	<div id="travel-date">{{ctrl.return.fromToDate}}</div>
                    <p>{{ctrl.return.description}}</p>
                </div>
                <div class="col-sm-3">
                    <i class="fa fa-euro fa-4x "></i> <span id="price">{{ctrl.return.price}}</span>
                </div>
        	</div>
        </div>
    </div>
  </div>
</div>

<div class="container"> <!-- START container -->
    <div class="row">
        <div class="col-sm-8">
            <div class="col-padding">
                <div class="itinerary" ng-bind-html="ctrl.return.itinerary"> <!-- itinerary here --> </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-padding">

                <section id="labels">
                  <div class="">
                    <div class="row">
                        <div class="col-sm-12">
                          <div  class="dl">
                            <div class="discount peter-river">
                            <i class="fa fa-calendar fa-1x "></i>
                                <div class="type">
                                    {{ctrl.return.startDate | amDateFormat:'MMMM'}}
                                </div>
                            </div>
                            <div class="descr">
                                <strong style="color: #428bca;">
                                     {{ctrl.return.fromToDate}} 
                                </strong> 
                                <p>Dauer: {{ctrl.return.overnight+1}} Tage</br>
                                <strong>Preis: {{ctrl.return.price}} Euro pro Person im Doppelzimmer</strong></p>
                            </div>
                            <div class="ends">
                                <!--<small>
                                   noch 12 Tage bis Abreise
                                </small>-->
                            </div>
                            <div class="coupon midnight-grey">
                                <a ng-controller="ModalBookingFormCtrl" ng-click="open()" data-toggle="collapse" href="#code-3" class="open-code">Jetzt Anfragen</a>
                                
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </section>

                <section id="labels">
                  <div class="">
                    <div class="row">
                        <div class="col-sm-12">
                          <div  class="dl">
                            <!--<div class="brand">
                                <h2>
                                    Kontakt
                                </h2>
                            </div>-->
                            <div class="discount peter-river">
                            <i class="fa fa-phone fa-2x "></i>
                                <!--<div class="type">
                                    9.00 - 17.00
                                </div>-->
                            </div>
                            <div class="descr">
                                <strong style="color: #428bca;">
                                     Telefon 03581 41 41 63 
                                </strong> <br>
                                Stadtschleicher Reisen, Obermarkt 13, 02826 Görlitz <br> 
                                Email: reservation@stadtschleicher-görlitz.de <br> Internet: www.stadtschleicher-görlitz.de
                            </div>
                            <div class="ends">
                                <!--<small>
                                   * von Montag bis Samstag.
                                </small>-->
                            </div>
                            <div class="coupon midnight-grey" style="background: #999999;">
                                <a href="mailto:info@menzel-busreisen.de" class="open-code">Email Senden</a>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </section>

                

                

            </div>
        </div>
    </div>
</div> <!-- END container -->

<footer></footer>

    <script type="text/ng-template" id="ModalBookingFormContent.html">
        <div class="modal-header">
            <h3 class="modal-title">unverbindliche Buchungsanfrage</h3>
        </div>
        <form class="form-horizontal" method="get" action="https://script.google.com/macros/s/AKfycbzoTKiRmKAEtKMsmXJSwaDyaupiu-xkm2YwdbJKKf6kyMT2jCQ/exec" accept-charset="UTF-8">
        <div ng-controller="ItemCtrl as ctrl" class="modal-body">
          <p>Bitte füllen Sie das Formular vollständig aus, wir werden uns umgehend bei Ihnen per Email oder Telefon melden. Bei Fragen stehen wir Ihnen auch gern telefonisch zur Verfügung. Rufen Sie uns an:  Telefon 03581 41 41 63</p>
                <input name="tour" type="hidden" value="{{ctrl.return.overnight+1}} Tage {{ctrl.return.title}}">
                <div class="form-group">
                  <label for="name" class="control-label col-md-2">Ihr Name</label>
                  <div class="col-md-6">
                      <input name="name" type="text" class="form-control" placeholder="Vor und Nachname">
                  </div>
                </div>

                <div class="form-group">
                  <label for="email" class="control-label col-md-2">Email</label>
                  <div class="col-md-6">
                      <input name="email" type="text" class="form-control" placeholder="Email Adresse">
                  </div>
                </div>

                <div class="form-group">
                  <label for="phone" class="control-label col-md-2">Telefon</label>
                  <div class="col-md-6">
                      <input name="phone" type="text" class="form-control" placeholder="Vorwahl und Telefon Nummer">
                  </div>
                </div>            
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <div class="col-md-12">
              <input class="btn btn-primary pull-left col-md-2" type="submit" ng-click="ok()" value="Absenden"/>
              <input class="btn btn-default pull-left col-md-2" type="reset" ng-click="cancel()" value="Abrechen"/>
            </div>
          </div>
        </div>
        </form>
    </script>