<div class="page-header">
    <h2>Alle Reiseangebote</h2>
    <p class="lead">
        Diese Übersicht listet alle verfügbaren Reiseangebote. Du kannst sie hier bearbeiten oder löschen.
    </p>
    <!-- <div class="alert alert-info">
        <h4>Row modifier class included</h4>
        <p>This feature uses a row modifier I created called ".margin-0". When applied to a ".row" element, it will ensure the margins between the columns will be 0. </p>
        <p>This is important in order to emulate the table-like effect, but it will work in any environment.</p>
    </div> -->
</div>

<div class="method">
    <div class="row margin-0 list-header hidden-sm hidden-xs">
        <div class="col-md-2"><div class="header">Reise Termin</div></div>
        <div class="col-md-2"><div class="header">Preis</div></div>
        <div class="col-md-5"><div class="header">Reiseziel</div></div>
        <div class="col-md-3"><div class="header">Action</div></div>
    </div>

    <div ng-repeat="doc in ctrl.docs | orderBy:'+startDate'" class="row margin-0 agenda">
        <div class="col-md-2">
            <div class="cell">
                <div class="agenda-date">
                    <div class="dayofmonth">{{doc.startDate | amDateFormat:'DD'}}</div>
                    <div class="dayofweek">{{doc.startDate | amDateFormat:'dddd'}}</div>
                    <div class="shortdate">{{doc.startDate | amDateFormat:'MMMM, YYYY'}}</div>
                </div>
            </div>
        </div>       
        <div class="col-md-2">
            <div class="cell">
                <div class="type price">
                    {{doc.price}} Euro
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="cell">
                <div class="type description">
                    <strong>{{doc.overnight+1}} Tage {{doc.title}}</strong> <br> {{doc.description}}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="cell">
                <div class="propertyname action">
                    <!-- Our delete modal takes a string as the first arg (used to display what we are deleting)
                    all other args are passed to the callback defined in profile.listing.controller.js -->
                    <a ng-click="ctrl.edit(doc._id)" tooltip="edit" tooltip-placement="top" style="" href="#">
                        <i class="fa fa-file-text fa-1x "></i> bearbeiten
                    </a>
                    <a tooltip="view online" tooltip-placement="top" style="color:#B7B7B7;" href="/item/{{doc._id}}">
                        <i class="fa fa-television fa-1x "></i> anschauen
                    </a>
                    <a ng-click="ctrl.delete(doc.title, doc)" tooltip="delete" tooltip-placement="top" style="color:red;" href="#">
                        <i class="fa fa-trash-o fa-1x "></i> löschen
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


 

 


