<div class="container">
	<p>Menzel Busreisen - Obermarkt 13, 02826 Görlitz - Telefon 03581 41 41 63 -
	  <a href="mailto:info@menzel-busreisen.de">info@menzel-busreisen.de</a> -
	  <a href="mailto:info@menzel-busreisen.de">report problem</a>
	</p>
  	<div id="social-footer" class="text-center center-block">
	    <br />
	    <a href="https://www.facebook.com"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
		<a href="https://twitter.com"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
		<a href="https://plus.google.com"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
		<a href="mailto:hello@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
	</div>
</div>
