<div class="container">
	<p>DM Tours Kenya - Diani Beach Shopping Center, P.O. Box 5430 Diani Beach, Ukunda Kenya - Telefon 03581 41 41 63 -
	  <a href="mailto:Info@dmtours.net">Info@dmtours.net</a> -
	  <a href="mailto:Info@dmtours.net">Ein Problem melden</a> -
	  <a href="https://docs.google.com/document/d/1pH_N1me-EB7_tL66bDOT3L7w7ZBLdPrFkw6p7uPmCaU/pub">Impressum</a>
	</p>
  	<!-- <div id="social-footer" class="text-center center-block">
	    <br />
	    <a href="https://www.facebook.com"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
		<a href="https://twitter.com"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
		<a href="https://plus.google.com"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
		<a href="mailto:hello@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
	</div> -->
</div>

