<div class="container">
	<p>DM Tours Kenya - Diani Beach Shopping Center, P.O. Box 5430 Diani Beach, Ukunda Kenya - Telefon 03581 41 41 63 -
	  <a href="mailto:Info@dmtours.net">Info@dmtours.net</a> -
	  <a href="mailto:Info@dmtours.net">Ein Problem melden</a> -
	  <a href="https://docs.google.com/document/d/1pH_N1me-EB7_tL66bDOT3L7w7ZBLdPrFkw6p7uPmCaU/pub">Impressum</a>
	</p>
  	<!-- <div id="social-footer" class="text-center center-block">
	    <br />
	    <a href="https://www.facebook.com"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
		<a href="https://twitter.com"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
		<a href="https://plus.google.com"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
		<a href="mailto:hello@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
	</div> -->
</div>

<!-- JS -->
<script type="text/javascript" src="assets/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="assets/js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.slicknav.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="assets/js/instagram.min.js"></script>
<script type="text/javascript" src="assets/js/spin.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.introLoader.min.js"></script>
<script type="text/javascript" src="assets/js/select2.full.js"></script>
<script type="text/javascript" src="assets/js/jquery.responsivegrid.js"></script>
<script type="text/javascript" src="assets/js/ion.rangeSlider.min.js"></script>
<script type="text/javascript" src="assets/js/readmore.min.js"></script>
<script type="text/javascript" src="assets/js/slick.min.js"></script>
<script type="text/javascript" src="assets/js/validator.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.raty.js"></script> 
<script type="text/javascript" src="assets/js/customs.js"></script>
