<body>

	<div id="introLoader" class="introLoading"></div>
	
	<!-- start Container Wrapper -->
	<div class="container-wrapper">

		<!-- includes a modal window. code comes from components/navbar -->
		<navbar></navbar>

		<div class="clear"></div>
		
		<!-- start Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- start hero-header with windows height -->
			<div class="hero" style="background-image:url('assets/images/hero-header/01.jpg');">
				
				<div class="container">
				
					<div class="row">
					
						<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
						
							<h1 class="hero-title">Tour with DM Tours</h1>
							<p class="lead">Visit Maasai Mara, Tsavo, Amboseli, Lake Nakuru or beyond!</p>

						</div>
						
					</div>
					
					<div class="main-search-wrapper full-width">
					
						<div class="inner">
						
							<div class="column-item">
							
								<div class="form-group">
								
									<select name="destination" class="select2-multi form-control" data-placeholder="Choose a Destination" multiple>
										<option value="">Choose a Destination</option>
										<option value="0">Any Destination</option>
										<option value="Albania">Albania</option>
										<option value="Austria">Austria</option>
										<option value="Belgium">Belgium</option>
										<option value="Bosnia">Bosnia</option>
										<option value="Croatia">Croatia</option>
										<option value="Czech Republic">Czech Republic</option>
										<option value="Denmark">Denmark</option>
										<option value="Egypt">Egypt</option>
										<option value="England">England</option>
										<option value="Estonia">Estonia</option>
										<option value="Finland">Finland</option>
										<option value="France">France</option>
										<option value="Germany">Germany</option>
										<option value="Greece">Greece</option>
										<option value="Herzegovina">Herzegovina</option>
										<option value="Hungary">Hungary</option>
										<option value="Ireland">Ireland</option>
										<option value="Italy">Italy</option>
										<option value="Latvia">Latvia</option>
										<option value="Liechtenstein">Liechtenstein</option>
										<option value="Lithuania">Lithuania</option>
										<option value="Luxembourg">Luxembourg</option>
										<option value="Monaco">Monaco</option>
										<option value="Montenegro">Montenegro</option>
										<option value="Netherlands">Netherlands</option>
										<option value="Northern Ireland">Northern Ireland</option>
										<option value="Poland">Poland</option>
										<option value="Portugal">Portugal</option>
										<option value="Russia">Russia</option>
										<option value="Scotland">Scotland</option>
										<option value="Serbia">Serbia</option>
										<option value="Slovakia">Slovakia</option>
										<option value="Slovenia">Slovenia</option>
										<option value="Spain">Spain</option>
										<option value="Sweden">Sweden</option>
										<option value="Switzerland">Switzerland</option>
										<option value="Turkey">Turkey</option>
										<option value="Vatican City">Vatican City</option>
										<option value="Wales">Wales</option>
									</select>

								</div>
							
							</div>
							
							<div class="column-item">
							
								<div class="form-group">
								
									<select name="month" class="select2-multi form-control" data-placeholder="Choose a Departure Month" multiple>
										<option value="">Choose a Departure Month</option>
										<option value="0">Any Departure Month</option>
										<option value="1">January</option>
										<option value="2">February</option>
										<option value="3">March</option>
										<option value="4">April</option>
										<option value="5">May</option>
										<option value="6">June</option>
										<option value="7">July</option>
										<option value="8">August</option>
										<option value="9">September</option>
										<option value="10">October</option>
										<option value="11">November</option>
										<option value="12">December</option>
									</select>
									
								</div>
							
							</div>
							
							<div class="column-item">
							
								<div class="form-group">

									<select name="year" class="select2-multi form-control" data-placeholder="Choose a Departure Year" multiple>
										<option value="">Choose a Departure Year</option>
										<option value="0">Any Departure Year</option>
										<option value="2016">2016</option>
										<option value="2017">2017</option>
									</select>
									
								</div>
							
							</div>
							
							<div class="column-item for-btn">
							
								<div class="form-group">
								
									<a href="#" class="btn btn-primary btn-block">Search</a>
									
								</div>
							
							</div>
							
						</div>
						
					</div>
				
				</div>
				
			</div>
			<!-- end hero-header with windows height -->
			
			<div class="post-hero bg-light">
			
				<div class="container">
					
					<div class="row">
					
						<div class="col-sm-4">
							<div class="featured-count clearfix">
								<div class="icon"><i class="pe-7s-way"></i></div>
								<div class="content">
									<h6>60+ Safari parks</h6>
									<span>Travel in safe and comfortable 4x4 Safari Jeeps.</span>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="featured-count clearfix">
								<div class="icon"> <i class="pe-7s-leaf"></i></div>
								<div class="content">
									<h6>120+ Safari Camps</h6>
									<span>We have selected the very best for you.</span>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="featured-count clearfix">
								<div class="icon"> <i class="pe-7s-smile"></i></div>
								<div class="content">
									<h6>20.000+ Happy Customers</h6>
									<span>We garantee the Safari of a Life time.</span>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
				
			</div>

			<section>
			
				<div class="container">
				
					<div class="row">
						
						<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
							
							<div class="section-title">
							
								<h3>Top Destinations</h3>
								
							</div>
							
						</div>
					
					</div>
					
					<div class="grid destination-grid-wrapper">
			
						<div class="grid-item" data-colspan="10" data-rowspan="10">
							<a href="result-grid.html" class="top-destination-image-bg" style="background-image:url('assets/images/destination-grid/01.jpg');">
								<div class="relative">
									<h4>Maasai Mara</h4>
									<span>Starting from $322</span>
								</div>
							</a>
						</div>
						
						<div class="grid-item" data-colspan="10" data-rowspan="4">
							<a href="result-grid.html" class="top-destination-image-bg" style="background-image:url('assets/images/destination-grid/02.jpg');">
								<div class="relative">
									<h4>Tsavo</h4>
									<span>Starting from $322</span>
								</div>
							</a>
						</div>
						
						<div class="grid-item" data-colspan="5" data-rowspan="6">
							<a href="result-grid.html" class="top-destination-image-bg" style="background-image:url('assets/images/destination-grid/03.jpg');">
								<div class="relative">
									<h4>Amboseli</h4>
									<span>Starting from $322</span>
								</div>
							</a>
						</div>
						
						<div class="grid-item" data-colspan="5" data-rowspan="6">
							<a href="result-grid.html" class="top-destination-image-bg" style="background-image:url('assets/images/destination-grid/04.jpg');">
								<div class="relative">
									<h4>Lake Nakuru</h4>
									<span>Starting from $322</span>
								</div>
							</a>
						</div>
						
					</div>
					
				</div>
				
			</section>
			
			<section class="bg-light">
			
				<div class="container">
				
					<div class="row">
						
						<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
							
							<div class="section-title">
							
								<h3>Special Packages</h3>
								<p>With so many options on top safari tours to choose from, DM Tours and Safaris can help you find the best safari deals in Kenya and Tanzania.</p>
								
							</div>
							
						</div>
					
					</div>
					
					<div class="GridLex-gap-30-wrappper package-grid-item-wrapper">
						
						<div class="GridLex-grid-noGutter-equalHeight">
							
							<!-- for larger items: <div class="GridLex-col-4_sm-6_xs-12 mb-30"> -->
							<!-- for smaller items: <div class="GridLex-col-3_sm-4_xs-6_xss-12 mb-20"> -->
							<div class="GridLex-col-4_sm-6_xs-12 mb-30" ng-repeat="doc in indexCtrl.docs | orderBy:'+startDate'" ng-if="$index < 9">
								<div class="package-grid-item"> 
									<a href="detail-page.html">
										<div class="image">
											<img ng-if="doc.id" data-ng-src="http://104.155.57.49:5984/dev-3-diana/{{doc.id}}/image_small" alt="" />
											<div class="absolute-in-image">
												<div class="duration"><span>{{doc.overnight+1}} days {{doc.overnight}} nights</span></div>
											</div>
										</div>
										<div class="content clearfix">
											<h5 class="block-with-text-to-truncate">{{doc.title}}</h5>
											<div class="rating-wrapper">
												<div class="raty-wrapper">
													<div class="star-rating-read-only" data-rating-score="3.0"></div> <span></span>
												</div>
											</div>
											<div class="absolute-in-content">
												<span class="btn"><i class="fa fa-heart-o"></i></span>
												<div class="price">$1422</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							
						</div>
					
					</div>
					
				</div>
				
			</section>
			
			<section class="overflow-hidden why-us-half-image-wrapper">
			
				<div class="GridLex-grid-noGutter-equalHeight">
						
					<div class="GridLex-col-6_sm-12">
						
						<div class="why-us-half-image-content">
						
							<div class="section-title text-left">
							
								<h3>Why Booking With Us</h3>
								<p>There are several reasons that you must travel with us</p>
								
							</div>
							
							<div class="featured-item">
							
								<h4>Experts On Tour</h4>
								
								<div class="content clearfix">
								
									<div class="icon">
										<i class="pe-7s-users"></i>
									</div>
									
									<p>OUR TOUR GUIDES: We specialise in tailor made safaris guided by some of Kenya’s best safari guides. Our guides have best local knowledge and give you fun and enjoyment when on safari. Our tour guides speak german and english.</p>
									
								</div>
							</div>
							
							<div class="featured-item">
							
								<h4>Quality Accommodation</h4>
								
								<div class="content clearfix">
								
									<div class="icon">
										<i class="pe-7s-home"></i>
									</div>
									
									<p>THE BEST CONTACTS IN BUSINESS: Denis has been in the safari business for over 20 years and has built up strong relationships to Kenyas top safari camps and lodges. He is able to get his clients into the best camps, in the most exclusive lodges with the best price. DM Tours always includes little extras which will give you a memorable safari experience.</p>
									
								</div>
							</div>
							
							
							<div class="featured-item">
							
								<h4>Best Price Guarantee</h4>
								
								<div class="content clearfix">
								
									<div class="icon">
										<i class="pe-7s-piggy"></i>
									</div>
									
									<p>THE BEST FOR LESS: Thanks to Denis’s contacts and experience DM Tours also has the best prices and special offers at Kenya’s most exclusive camps and lodges – in fact Denis often has his own unique special offers just for his clients.</p>
									
								</div>
							</div>
							
						</div>
						
					</div>
					
					<div class="GridLex-col-6_sm-12 image-bg">
						<div class="image-bg" style="background-image:url('assets/images/image-01.jpg');"></div>
					</div>
				
				</div>
				
			</section>
			
			<section class="bg-light">
			
				<div class="container">
				
					<div class="row">
						
						<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
							
							<div class="section-title">
							
								<h3>Testimonial</h3>
								<p>What our customers say about us</p>
							</div>
							
						</div>
					
					</div>
					
					<div class="testimonial-wrapper">
					
						<div class="row">
							
							<div class="col-xs-12 col-sm-12 col-md-6">
								<div class="testimonial-item clearfix">
									<div class="image">
										<img src="assets/images/man/01.jpg" alt="Man" />
									</div>
									<div class="content">
										<h4>Antony Robert</h4>
										<h6>From Austria</h6>
										<p>Wow! What a day. Toni, the driver was amazing; very fun and knowledgeable. We had the best 8 days of our life. Thank you for the Safari of a Life time.</p>
									</div>
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-12 col-md-6">
								<div class="testimonial-item clearfix">
									<div class="image">
										<img src="assets/images/man/02.jpg" alt="Man" />
									</div>
									<div class="content">
										<h4>Sandra Turner</h4>
										<h6>From Germany</h6>
										<p>DM Tours and Safaris really made our dream come true. They helped us planning our complete Kenya vaccation with safari tour and accommodation in Diani Beach. </p>
									</div>
								</div>
							</div>
							
						</div>
						
					</div>
					
				</div>
				
			</section>
			
			<div class="newsletter-wrapper">
			
				<div class="container">
				
					<div class="flex-row flex-align-middle flex-gap-30">
						
						<div class="flex-column flex-sm-12">
							<div class="newsletter-text clearfix">
								<div class="icon">
									<i class="pe-7s-mail"></i>
								</div>
								<div class="content">
									<h3>Signup for Newsletter</h3>
									<p>Subscribe to our Email Newsletter for useful tips and helpful resources, sent out every second Tuesday. No spam!</p>
								</div>
							</div>
						</div>
						
						<div class="flex-columns flex-sm-12">
							<div class="newsletter-form">
								<form class="">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Enter Your Email">
										<span class="input-group-btn">
											<button class="btn btn-primary" type="button">Signup <i class="fa fa-long-arrow-right"></i></button>
										</span>
									</div>
								</form>
							</div>
						</div>
					
					</div>
					
				</div>
				
			</div>
			
			<div class="overflow-hidden">
			
				<!-- <div class="instagram-wrapper">
					<div id="instagram" class="instagram"></div>
				</div> -->
				
			</div>
			
		</div>
		<!-- end Main Wrapper -->

		<footer class="footer">
			
			<div class="container">
			
				<div class="main-footer">
				
					<div class="row">
				
						<div class="col-xs-12 col-sm-5 col-md-3">
						
							<div class="footer-logo">
								<img src="assets/images/logo-white.png" alt="Logo" />
							</div>
							
							<p class="footer-address">324 Yarang Road, T.Chabangtigo, Muanng Pattani 9400 <br/> <i class="fa fa-phone"></i> +66 28 878 5452 <br/> <i class="fa fa-phone"></i> +66 2 547 2223 <br/> <i class="fa fa-envelope-o"></i> <a href="#">support@tourpacker.com</a></p>
							
							<div class="footer-social">
							
								<a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
								<a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" data-toggle="tooltip" data-placement="top" title="Google Plus"><i class="fa fa-google-plus"></i></a>
								<a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
							
							</div>
							
							<p class="copy-right">&#169; Copyright 2016 Tour Packer. All Rights Reserved</p>
							
						</div>
						
						<div class="col-xs-12 col-sm-7 col-md-9">

							<div class="row gap-10">
							
								<div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-3 mt-30-xs">
								
									<h5 class="footer-title">About Tour Packer</h5>
									
									<ul class="footer-menu">
									
										<li><a href="static-page.html">Who we are</a></li>
										<li><a href="static-page.html">Careers</a></li>
										<li><a href="static-page.html">Company history</a></li>
										<li><a href="static-page.html">Legal</a></li>
										<li><a href="static-page.html">Partners</a></li>
										<li><a href="static-page.html">Privacy notice</a></li>
										
									</ul>
									
								</div>
								
								<div class="col-xs-12 col-sm-4 col-md-3 mt-30-xs">

									<h5 class="footer-title">Customer service</h5>
									
									<ul class="footer-menu">
									
										<li><a href="static-page.html">Payment</a></li>
										<li><a href="static-page.html">Feedback</a></li>
										<li><a href="static-page.html">Contact us</a></li>
										<li><a href="static-page.html">Travel advisories</a></li>
										<li><a href="static-page.html">FAQ</a></li>
										<li><a href="static-page.html">Site map</a></li>
										
									</ul>
									
								</div>
								
								<div class="col-xs-12 col-sm-4 col-md-3 mt-30-xs">

									<h5 class="footer-title">Others</h5>
									
									<ul class="footer-menu">
									
										<li><a href="static-page.html">Destinations</a></li>
										<li><a href="static-page.html">Blog</a></li>
										<li><a href="static-page.html">Pre Departure Planning</a></li>
										<li><a href="static-page.html">Visas</a></li>
										<li><a href="static-page.html">Insurance</a></li>
										<li><a href="static-page.html">Travel Guide</a></li>
										
									</ul>
									
								</div>
								
							</div>

						</div>
						
					</div>

				</div>
				
			</div>
			
		</footer>
		
	</div>  <!-- end Container Wrapper -->
 
	<!-- start Back To Top -->
	<div id="back-to-top">
		 <a href="#"><i class="fa fa-angle-up"></i></a>
	</div>
	<!-- end Back To Top -->

</body>
</html>