<form class="form-horizontal" ng-submit="vm.onSubmit()" name="vm.form" novalidate>
	<div class="page-header">
	    <h2>Create New Safari Tour</h2>
	    <p class="lead">
	        Enter all information in the form below to create a new tour on the website.
	    </p>
	    <!-- <div class="alert alert-info">
	        <h4>Google Dokument Integration</h4>
	        <p>Um Reisebeschreibungen als Google Dokument einzufügen müssen folgende Vorraussetzungen erfüllt sein:</p>
	        <ul>
	        	<li>
	        		Google Dokument Titel muss folgenden Syntax haben:</br>
	        		Jahr-Monat-TagNächte#Preis-Reiseziel z.B. 2015-06-01N03#376-Altmuehltal,Regensburg
	        	</li>
	        	<li>
	        		Das Google Dokument sollte eine Beschreibung haben.
	        	</li>
	        	<li>
	        		Das Google Document muss im Menue DATEI -> IM WEB VERÖFFENTLICHEN veröffentlicht sein
	        	</li>
	        </ul>
	        </br> <button type="button" class="btn btn-primary" href="javascript:;" lk-google-picker on-picked="vm.onPicked(docs)" on-loaded="vm.onLoaded()" on-cancel="vm.onCancel()">Mein Google Drive öffnen</button>
	    </div> -->
	</div>
	<formly-form model="vm.profile" fields="vm.formFields" options="vm.options" form="vm.form"> </formly-form>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary submit-button">Save</button>
			<button type="button" class="btn btn-default" ng-click="vm.options.resetModel()">Reset</button>
		</div>
	</div>
</form>

	<!-- formly template to add and remove formly form fields on button click -->
	<script type="text/ng-template" id="repeatSection.html">
      <div>
      	<!--loop through each element in model array-->
      	<div class="{{hideRepeat}}">
          <div class="repeatsection" ng-repeat="element in model[options.key]" ng-init="fields = copyFields(to.fields)">
            <formly-form fields="fields"
                         model="element"
                         form="form">
            </formly-form>
            <div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
	              <button type="button" class="btn btn-sm btn-danger" ng-click="model[options.key].splice($index, 1)">
	                Remove
	              </button>
	            </div>
	        </div>
            <hr>
        </div>
        <div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
	  	      <button type="button" class="btn btn-primary" ng-click="addNew()" >{{to.btnText}}</button>
	        </div>
        </div>
    </script>
