<!-- TODO set url to get images from db dynamicaly -->
<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <img src="assets/images/Menzel-Busreisen-Logo.png" alt="">
    <h1>UNSERE AKTUELLEN TAGESFAHRTEN</h1>
    <p class="lead">BUCHEN SIE IHRE TAGESFAHRT UNTER 03581 41 41 63</p>
    <a href="https://drive.google.com/file/d/0BwqqMAWnXFBhOFA4MnhCUTBSbk5PZi1fMkgwR09DSmNBRlFV/view?usp=sharing" class="btn btn-lg btn-danger" role="button">Angebot ansehen</a>
  </div>
</header>

<div class="container"> <!-- START container -->

    <div class="row grid-divider">
        <div class="col-lg-12">
            <h2 class="page-header">Aktuelle Reise Angebote:</h2>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-4 col-lg-3" ng-repeat="doc in ctrl.docs | orderBy:'+startDate'">
            <div class="col-padding">
                <div class="thumbnail">
                    <a ui-sref="item({ itemId: doc.id })">
                        <img ng-if="doc.id" data-ng-src="http://104.155.57.49:5984/dev-3-diana/{{doc.id}}/image_small" alt="">
                    </a>
                </div>
                <div class="caption">
                    <h4 class="truncate"><a ui-sref="item({ itemId: doc.id })">{{doc.overnight+1}} Tage {{doc.title}}</a></h4>
                    <p class="truncate"><strong>{{doc.startDate | amDateFormat:'DD. MMMM YYYY'}}</strong> </br> {{doc.description}}</p>
                </div>
            </div>
        </div>
    </div> <!-- END row -->

</div> <!-- END container -->

<footer></footer>






