


/* Google Document styling */
.itinerary h1 {
  font-size: 28px;
  font-weight: 700;
}

.itinerary h2 {
    font-size: 24px;
    font-weight: 500;
}

.itinerary h3 {
    font-size: 18px;
    font-weight: 700;
}

.itinerary img {
    width: 100%;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

/* item styling */

.extra-style {
    padding-bottom: 9px;
    margin: 40px 0 20px;
}

div#title {
    font-size: 36px;
}

div#travel-date {
    font-size: 24px;
    font-weight: 500;
}

span#price {
    font-size: 60px;
    font-weight: 500;
}

/* adjust the navbar css to display nice when over on image */
div .item-header .navbar-default {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(255, 255, 255, 0.6);
}

div .item-header .navbar-default .navbar-nav > li > a {
    color: #FFF;
}

div .item-header .navbar-default .navbar-brand {
    color: #FFF;
}

div .item-header login a {
  color: #FFF;
}

div .item-header login #signin-link {
  color: #FFF;
  padding-right: 15px
}

/* css for full hero image */
body{ margin:0px 0px; }

#hero{
  /* background-image:url(https://chrisaam.files.wordpress.com/2015/03/wallpaper-2846361.jpg); */
  background-size:cover;
  position:relative;
  height:100vh;
}

.header{
  position:absolute;
  text-align:center;
  width:100%;
  color:#fff;
  font-size:14px; 
}

.hfooter{
  position:absolute;
  top:35px;
  text-align:center;
  width:100%;
  color:#fff;
  font-size:14px;
  -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);  
}

#content{
  padding:100px 50px;
  text-align:center;
  width:80%;
  margin:0px auto;
}

#content h2{
  margin:0px 0px 30px 0px;
}

#footer{
  padding:30px 0px;
  text-align:center;
  background:#ddd;
}

/*for sitebar styling*/
section {
    padding: 5% 0;
}

.alizarin {
    background: #e74c3c;
}

.amethyst {
    background: #9b59b6;
}

.emerald {
    background: #2ecc71;
}

.midnight-blue {
    background: #2c3e50;
}

.midnight-grey {
    background: #428bca;
}

.peter-river {
    background: #ddd;
}

.dl {
    background: #f0f0f0;
    /* padding: 30px 0; */
    /* border-radius: 10px; */
    position: relative;
}

/*.dl:before {
    content: " ";
    height: 20px;
    width: 20px;
    background: #ddd;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -10px;
}*/
    
.dl .brand {
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px 15px;
    margin-top: 10px;
    text-align: center;
    min-height: 100px; 
}

.dl .discount {
    min-height: 50px;
    position: relative;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    font-weight: bold;

    padding: 20px 15px 0;
    color: #428bca;
}

.dl .discount:after {
    content: " ";
    
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: -19px;
    left: 20%;
}

.dl .discount.alizarin:after {
    border-top: 20px solid #e74c3c;
}

.dl .discount.peter-river:after {
    border-top: 20px solid #ddd;
}

.dl .discount.emerald:after {
    border-top: 20px solid #2ecc71;
}

.dl .discount.amethyst:after {
    border-top: 20px solid #9b59b6;
}

.dl .discount .type {
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: -30px;
}

.dl .descr {
    color: #999;
    margin-top: 10px;
    padding: 20px 15px; 
}
 
.dl .ends {
    padding: 0 15px;
    color: #777;
    margin-bottom: 10px;
}

.dl .coupon {
    min-height: 50px;
    text-align: center;
    
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding: 20px 15px;
}

.dl .coupon a.open-code {
    color: #FFFFFF;
}

.dl .coupon .code {
    letter-spacing: 1px;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px 15px;
    color: #f1c40f;
    background: #f0f0f0;
}
    