

<div ng-controller="StateController" class="row affix-row">
  <div class="dashboard-header">
     <navbar></navbar>
  </div>
  <div class="col-sm-3 col-md-2 affix-sidebar">
		<div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="vm.isCollapsed = !vm.isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div collapse="vm.isCollapsed"   class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav" id="sidenav01">
            <li class="active">
              <a href="#" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" class="collapsed">
              <h4 ng-controller="CouchController as ctrl">
              Seiten Navigation
              <br>
              <!--<small>{{ctrl.user}} - <span ng-repeat="role in ctrl.roles">{{role}}</span> <span class="caret"></span></small>-->
              </h4>
              </a>
              <div class="collapse" id="toggleDemo0" style="height: 0px;">
                <ul class="nav nav-list">
                  <li><a href="#">ProfileSubMenu1</a></li>
                  <li><a href="#">ProfileSubMenu2</a></li>
                  <li><a href="#">ProfileSubMenu3</a></li>
                </ul>
              </div>
            </li>
            <!--
            <li>
              <a href="#" data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav01" class="collapsed">
              <span class="glyphicon glyphicon-cloud"></span> Submenu 1 <span class="caret pull-right"></span>
              </a>
              <div class="collapse" id="toggleDemo" style="height: 0px;">
                <ul class="nav nav-list">
                  <li><a href="#">Submenu1.1</a></li>
                  <li><a href="#">Submenu1.2</a></li>
                  <li><a href="#">Submenu1.3</a></li>
                </ul>
              </div>
            </li>
            <li class="active">
              <a href="#" data-toggle="collapse" data-target="#toggleDemo2" data-parent="#sidenav01" class="collapsed">
              <span class="glyphicon glyphicon-inbox"></span> Submenu 2 <span class="caret pull-right"></span>
              </a>
              <div class="collapse" id="toggleDemo2" style="height: 0px;">
                <ul class="nav nav-list">
                  <li><a href="#">Submenu2.1</a></li>
                  <li><a href="#">Submenu2.2</a></li>
                  <li><a href="#">Submenu2.3</a></li>
                </ul>
              </div>
            </li>
            -->
            <li><a ng-click="$state.go('dashboard.profile-new')" href="#"><span class="glyphicon glyphicon-lock"></span> Neue Reise erstellen</a></li>
            <li><a ng-click="$state.go('dashboard.profile-listing')" href="#"><span class="glyphicon glyphicon-calendar"></span> Übersicht alle Reisen <span class="badge pull-right">42</span></a></li>
          </ul>
          </div><!--/.nav-collapse -->
      </div>
    </div>
	</div>

	<div class="col-sm-9 col-md-10 affix-content">
		<div class="container">
			
      <!-- ui-view to inject the dashboard content configured in dashboard.js -->
			<ui-view ></ui-view>

		</div><footer></footer>
	</div>
</div>


    



