
<div ng-controller="CouchController as ctrl">

    <div ng-if="!ctrl.user">            
        <form class="navbar-form navbar-right" role="search" ng-submit="ctrl.login()" name="myLogin" novalidate>
            <div class="form-group">
                <label for="email_field">Email</label>
                <input id="email_field" type="text" name="user" class="form-control"
                               placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password_field">Password</label>
                <input id="password_field" type="password" name="pwd" class="form-control" placeholder="Password">
            </div>
            <a style="padding-right:15px" ng-click="ctrl.login()" href="#">Sign in</a>
            <button type="submit" class="btn btn-primary">Add your business</button>
        </form>
    </div>

    <div >
        <form class="navbar-form navbar-right" role="search" ng-submit="ctrl.logout()" ng-show="ctrl.user">
            <div class="form-group">
                <div style="padding-right:15px">{{ctrl.user}} - <span ng-repeat="role in ctrl.roles">{{role}}</span></div>
            </div>
            <button type="submit" class="btn btn-danger">logout</button>
        </form>
    </div>
         
</div>
