
<div ng-controller="CouchController as ctrl">

    <div ng-if="!ctrl.user">            
        <form class="navbar-form navbar-right" role="search" ng-submit="ctrl.login()" name="myLogin" novalidate>
                <div ng-show="bool" class="form-group">
                    <label for="email_field">Email</label>
                    <input id="email_field" type="text" name="user" class="form-control"
                                   placeholder="Username">
                </div>
                <div ng-show="bool" class="form-group">
                    <label for="password_field">Password</label>
                    <input id="password_field" type="password" name="pwd" class="form-control" placeholder="Password">
                </div>
            <a id="signin-link" ng-hide="bool" ng-click="bool=true" href="#">Sign in</a>
            <button ng-show="bool" type="submit" class="btn btn-primary">Sign in</button>
            <button ng-hide="bool" type="submit" class="btn btn-primary">Add your business</button>
        </form>
    </div>

    <div >
        <form class="navbar-form navbar-right" role="search" ng-submit="ctrl.logout()" ng-show="ctrl.user">
            <div class="form-group">
                <div style="padding-right:15px">{{ctrl.user}} - <span ng-repeat="role in ctrl.roles">{{role}}</span></div>
            </div>
            <button type="submit" class="btn btn-default">logout</button>
        </form>
    </div>
         
</div>
